<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>入口页</title>
<link rel="stylesheet" type="text/css" href="entry/css/component.css" />
</head>
	<body>
		<div class="container">
			<div class="content">
				<div id="large-header" class="large-header">
					<div class="top-nav">
						<div class="top-nav-logo">SEUStudio</div>
						<div class="top-nav-login"><a href="/login">登录/注册</a></div>
					</div>
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">让管理更简单
						<span class="thin">教职人员管理系统</span>
						<div class="entry-button"><a href="/entry">点击进入</a></div>
					</h1>
				</div>
			</div>
		</div>
		<script src="entry/js/TweenLite.min.js"></script>
		<script src="entry/js/EasePack.min.js"></script>
		<script src="entry/js/rAF.js"></script>
		<script src="entry/js/entry.js"></script>
	</body>
</html>